<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib" method="POST">
        Please enter a <br>
        Person: <input type="text" name="person"><br>
        Color: <input type="text" name="color"><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adj"><br>
        <select name="animal">
            <option name ="animal" value="balloonicorn">Balloonicorn
            <option name ="animal" value="platypus">Platypus
            <option name ="animal" value="pachyderm">Pachyderm
        </select>
        <br>
        <input type="checkbox" name ="foods" value="cupcake">Cupcake
        <input type="checkbox" name ="foods" value="cereal">Cereal
        <input type="checkbox" name ="foods" value="chow mein">Chow mein
        <input type="checkbox" name ="foods" value="cheese">Cheese
        <br>

    <input type="submit" value="Submit">
    </form>
</body>
</html>